<style type='text/css'>
    .bigtextbox {
	width  80px;
	height = 24px;
    }

</style>
<center class='center'>

<br>
<a href='/rcc/?userlist'>Player list</font></a>
<br>
<a href='/rcc/?mailTo'>Email all users</a>
<br>
<h2> Confirm new player(s) </h2>
<form method='post'>
    <input type='hidden' value='registerUser' name='cmd'/>
    <table width='100%'>
	{% for newuser in newusers.keys() %}
	<tr>
	    <td>
		<input type='checkbox' name='newuser' value='{{ newuser }}'/>
	    </td>
	    <td>
		{{ newuser }}
	    </td>
	    <td>
		{{ newusers[newuser]['email'] }}
	    </td>
	    <td>
		{{ newusers[newuser]['address'] }}
	    </td>
	{% endfor %}
	</tr>
    </table>
    <input type='submit' value='Activate!'/>
</form>
<br>
<h2> Change player password </h2>
<form method='post'>
    <input type='hidden' value='changePassword' name='cmd'/>
    <select id='cuser' name='cuser'>
    {% for user in userlist|dictsort %}
	<option>{{ user[0] }}</option>
    {% endfor %}
    </select>
    <br/>
    New password:
    <input type='password' name='changePassword' />
    <input type='submit' value='Submit' />
</form>
<br>
<h2> Enter game scores </h2>
<form method='post'>
    <input type='hidden' value='enterScores' name='cmd' />
    <select id='game' name='game'>
    {% for game in gamelist %}
    <option value="{{game['time']}},{{game['team']}}">{{ game['time'] }} {{ game['team'] }}</option>
    {% endfor %}
    </select>
    <br/>
    Kansas: 
    <input type='text' value='0' name='ku' />
    <br/>
    Opponent: 
    <input type='text' value='0' name='opp' />
    <input type='submit' value='Submit' />
</form>
<br>
<h2> Change player guesses </h2>
<form method='post'>
    <input type='hidden' value='changeScores' name='cmd' />
    <select id='user' name='user'>
    {% for user in userlist|dictsort %}
	<option>{{ user[0] }}</option>
    {% endfor %}
    </select>
    <select id='game' name='game'>
    {% for game in gamelist %}
    <option value="{{game['time']}},{{game['team']}}">{{ game['time'] }} {{ game['team'] }}</option>
    {% endfor %}
    </select>
    <br/>
    Kansas: 
    <input type='text' value='0' name='ku' />
    <br/>
    Opponent: 
    <input type='text' value='0' name='opp' />
    <input type='submit' value='Submit' />
</form>
<br>
<h2> Change the Message Of The Day </h2>
<form method='post'>
    <input type='hidden' value='writeMOTD' name='cmd' />
    <textarea name='motd' cols='80' rows='24'>{{ motd }}</textarea>
    <br/>
    <input type='submit' value='change motd' />
</form>
<br>
</center>
