<title>
    Enter game scores
</title>
    <body>
	<form method='post'>
	    <input type='submit' value='Submit'/>
	    <table border=1 class='sortable'>
		<tr>
		    <th>Opponent</th>
		    <th>Score guess</th>
		</tr>
		{% for team in expGames %}
		<tr>
		    <td><b>{{team["time"]}} {{ team["team"] }}</b></td>
		    <td>
			Kansas: {{ userScores[team["time"]][0] }}
			<br />
			{{team["team"]}}: {{ userScores[team["time"]][1] }}
		    </td>
		</tr>
		{% endfor %}
		{% for team in gameInfo %}
		<tr>
		    <td><b>{{team["time"]}} {{ team["team"] }}</b></td>
		    <td align='right'>
			Kansas: <input style="float:right;" type='text' value='{{userScores[team["time"]][0]}}' name='{{team["time"]}} - ku'/>
			<br>
			{{team["team"]}}: <input style="float:right;" type='text' value='{{userScores[team["time"]][1]}}' name='{{team["time"]}}'/>
		    </td>
		</tr>
		{% endfor %}
	    </table>
	    <input type='submit' value='Submit'/>
	</form>
    </body>
</html>
